{% extends 'admin/dashboard.html.twig' %}

{% block title %}Admin - Liste des étudiants {{ promotion }}{% endblock %}

{% block main %}
<div class="col-lg mt-3">
    <h3>Liste des étudiants {{ promotion }}</h3>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Code NIP</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Identifiant</th>
                <th>Bac</th>
                <th>Classement</th>
                <th>Promotion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.getCodeNip() }}</td>
                <td>{{ etudiant.getPrenom() }}</td>
                <td>{{ etudiant.getNom() }}</td>
                <td>{{ etudiant.getUsername() }}</td>
                <td>{{ etudiant.getBac() }}</td>
                <td>{{ etudiant.getClassement() }}</td>
                <td>{{ etudiant.getPromotion() }}</td>
                <td>{{ etudiant.getVoeuPrincipal() }}</td>
                <td>{{ etudiant.getVoeuSecondaire() }}</td>
                <td><a href="{{ path('admin_delete_etudiant', {'etudiant': etudiant.getId()}) }}" class="offset-lg-2 btn btn-danger btn-sm" role="button" aria-pressed="true" onclick="return confirm('Veuillez confirmer la suppression.')"><i class="fas fa-trash"></i> Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
<a href="{{ path('admin_add_etudiant') }}" class="offset-lg-2 btn btn-secondary btn-sm mb-3" role="button" aria-pressed="true"><i class="fas fa-plus"></i> Ajouter</a>
{% endblock %}