{% extends 'admin/dashboard.html.twig' %}

{% block title %}Admin - Liste des groupes {{ promo }}{% endblock %}

{% block main %}
<div class="col-lg">
    <h3>Liste des groupe pour la promotion {{ promo }}</h3>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Nom du groupe</th>
                <th>Etudiants</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in groupes %}
            <tr>
                <td rowspan="{{ groupe.getTaille() }}">{{ groupe.getNom() }}</td>
                <td>
                {% for etudiant in groupe.getEtudiants() %}
                    {{ etudiant.getPrenom() }} {{ etudiant.getNom() }}
                    <br/>
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}