{% extends 'admin/dashboard.html.twig' %}

{% block title %}Liste des Groupes{% endblock %}

{% block main %}
<div class="col-lg mt-3">
    <h1>Liste des Groupes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Taille</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in groupes %}
            <tr>
                <td>{{ groupe.id }}</td>
                <td>{{ groupe.nom }}</td>
                <td>{{ groupe.description }}</td>
                <td>{{ groupe.taille }}</td>
                <td>
                    <a href="{{ path('admin_groupe_show', {'id': groupe.id}) }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('admin_groupe_edit', {'id': groupe.id}) }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-pencil-alt"></i></a>
                    {{ include('admin/groupe/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_groupe_new') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-plus"></i></a>
</div>
{% endblock %}