{% extends 'admin/dashboard.html.twig' %}

{% block title %}Groupe{% endblock %}

{% block main %}
<div class="col-lg mt-3">
    <h1>Groupe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ groupe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ groupe.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ groupe.description }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ groupe.taille }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_groupe_edit', {'id': groupe.id}) }}" class="btn btn-secondary btn-sm m-1" role="button" aria-pressed="true"><i class="fas fa-pencil-alt"></i></a>

    {{ include('admin/groupe/_delete_form.html.twig') }}

    <a href="{{ path('admin_groupe_index') }}" class="btn btn-secondary btn-sm m-1" role="button" aria-pressed="true"><i class="fas fa-arrow-left"></i> retour</a>
</div>
{% endblock %}