{% extends 'admin/dashboard.html.twig' %}

{% block title %}Liste des Champs Csv{% endblock %}

{% block main %}
<div class="col-lg mt-3">
    <h1>Liste des Champs Csv</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for champ_csv in champ_csvs %}
            <tr>
                <td>{{ champ_csv.id }}</td>
                <td>{{ champ_csv.intitule }}</td>
                <td>
                    <a href="{{ path('admin_champ_csv_show', {'id': champ_csv.id}) }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('admin_champ_csv_edit', {'id': champ_csv.id}) }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-pencil-alt"></i></a>
                    {{ include('admin/champ_csv/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_champ_csv_new') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-plus"></i></a>
</div>
{% endblock %}