{% extends 'admin/dashboard.html.twig' %}

{% block title %}Liste des Csv{% endblock %}

{% block main %}
<div class="col-lg mt-3">
    <h1>Liste des Csv</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fichier</th>
                <th>Nom</th>
                <th>Promotion</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for csv in csvs %}
            <tr>
                <td>{{ csv.id }}</td>
                <td>{{ csv.file }}</td>
                <td>{{ csv.name }}</td>
                <td>{{ csv.promotion }}</td>
                <td>
                    <a href="{{ path('admin_csv_show', {'id': csv.id}) }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('admin_csv_edit', {'id': csv.id}) }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-pencil-alt"></i></a>
                    {{ include('admin/csv/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_csv_new') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-plus"></i></a>
</div>
{% endblock %}