{% extends 'admin/dashboard.html.twig' %}

{% block title %}Liste des Bacs{% endblock %}

{% block main %}
<div class="col-lg mt-3">
    <h1>Liste des Bacs</h1>

    <table class="table" id="table">
        <thead>
            <tr>
                <th class="sortable" onclick="sortNumericCol(0)">Id <i class="fas fa-sort"></i></th>
                <th>Intitulé</th>
                <th style="cursor: pointer" onclick="sortAlphaCol(2)">Abréviation <i class="fas fa-sort"></i></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bac in bacs %}
            <tr>
                <td>{{ bac.id }}</td>
                <td>{{ bac.intitule }}</td>
                <td>{{ bac.abreviation }}</td>
                <td>
                    <a href="{{ path('admin_bac_show', {'id': bac.id}) }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('admin_bac_edit', {'id': bac.id}) }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-pencil-alt"></i></a>
                    {{ include('admin/bac/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_bac_new') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-plus"></i></a>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tablesort.js') }}"></script>
{% endblock %}