<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Admin - Panneau d'administration{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav class="navbar  navbar-dark  bg-dark">
                <a class="navbar-brand col-lg-3 pt-10" href="{{ path('admin_homepage') }}">Panneau d'administration</a>
                <a class="navbar-brand col-lg-3 offset-lg-5 pt-10" href="{{ path('app_homepage') }}">Accueil du site</a>
            </nav>
        {% endblock %}

        
        <div class="container-fluid mt-1">
            <div class="row">
                {% block aside %}
                <nav class="col-lg-2  bg-light sidebar">
                    <div class="sidebar-sticky">
                        <h3>Tables</h3>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_liste_matieres') }}">
                                    Matières
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_liste_promotions') }}">
                                    Etudiants
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_liste_enseignants') }}">
                                    Enseignants
                                </a>
                            </li>
                        </ul>
                        <hr/>
                        <h3>Groupes</h3>
                        <ul class="nav flex-column">
                        {% for promotion in promotions %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ path('admin_liste_groupes', {'promotion' : promotion.getId()}) }}">
                                    {{ promotion }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                        <hr/>
                    </div>
                </nav>
                {% endblock %}
                {% block main %}
                 <div class="col-lg-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <td colspan="4">Liste des tables</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Matières</td>
                                <td><a href="{{ path('admin_add_matiere') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-plus"></i> Ajouter</a></td>
                                <td colspan="2"><a href="{{ path('admin_liste_matieres') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-list-ul"></i> Liste</a></td>
                            </tr>
                            <tr>
                                <td>Etudiants</td>
                                <td><a href="{{ path('admin_add_etudiant') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-plus"></i> Ajouter</a></td>
                                <td><a href="{{ path('admin_liste_promotions') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-list-ul"></i> Liste</a></td>
                            </tr>
                            <tr>
                                <td>Enseignants</td>
                                <td><a href="{{ path('admin_add_enseignant') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-plus"></i> Ajouter</a></td>
                                <td colspan="2"><a href="{{ path('admin_liste_enseignants') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-list-ul"></i> Liste</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% endblock %}
            </div>
        </div>
