<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Admin - Panneau d'administration{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav class="navbar  navbar-dark  bg-dark">
                <a class="navbar-brand col-lg-3 pt-10" href="{{ path('admin_homepage') }}">Panneau d'administration</a>
                <a class="navbar-brand col-lg-3 offset-lg-5 pt-10" href="{{ path('app_homepage') }}">Accueil du site</a>
            </nav>
        {% endblock %}

        
        <div class="container-fluid mt-1">
            <div class="row">
                {% block aside %}
                <nav class="col-lg-2  bg-light sidebar">
                    <div class="sidebar-sticky">
                        <h3>Tables</h3>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_matiere_index') }}">
                                    Matières
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_etudiant_index') }}">
                                    Etudiants
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_enseignant_index') }}">
                                    Enseignants
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_bac_index') }}">
                                    Bacs
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_groupe_index') }}">
                                    Groupes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_csv_index') }}">
                                    Csv
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_promotion_index') }}">
                                    Promotions
                                </a>
                            </li>
                        </ul>
                        <hr/>
                    </div>
                </nav>
                {% endblock %}
                {% block main %}
                 <div class="col-lg-6">
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Matières</td>
                                <td>
                                    <a href="{{ path('admin_matiere_new') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-plus"></i></a>
                                    <a href="{{ path('admin_matiere_index') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-list-ul"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Etudiants</td>
                                <td>
                                    <a href="{{ path('admin_etudiant_new') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-plus"></i></a>
                                    <a href="{{ path('admin_etudiant_index')}}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-list-ul"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Enseignants</td>
                                <td>
                                    <a href="{{ path('admin_enseignant_new') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-plus"></i></a>
                                    <a href="{{ path('admin_enseignant_index') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-list-ul"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Bacs</td>
                                <td>
                                    <a href="{{ path('admin_bac_new') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-plus"></i></a>
                                    <a href="{{ path('admin_bac_index') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-list-ul"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Groupes</td>
                                <td>
                                    <a href="{{ path('admin_groupe_new') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-plus"></i></a>
                                    <a href="{{ path('admin_groupe_index') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-list-ul"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Promotions</td>
                                <td>
                                    <a href="{{ path('admin_promotion_new') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-plus"></i></a>
                                    <a href="{{ path('admin_promotion_index') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-list-ul"></i></a>
                                    <a href="{{ path('admin_promotion_index') }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-upload"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% endblock %}
                {% block javascripts %}
                    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
                    <script>window.jQuery || document.write('<script src="~/Content/js/jquery-1.11.2.min.js"><\/script>')</script>
                    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
                    
                {% endblock %}
            </div>
        </div>
