{% extends 'admin/dashboard.html.twig' %}
{% block main %}

    <div class="col-lg-6 mb-3">
        {% for matiere in matieres %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ matiere.getIntitule() }}</h3>
                    <p class="card-text">{{ matiere.getDescription() }}</p>
                    <p class="text-muted">
                        Enseignant : 
                        {% for enseignant in matiere.getEnseignants() %}
                            {{ enseignant }}{% if enseignant.getEntreprise() != null %} ({{ enseignant.getEntreprise() }}){% endif %}{% if loop.last %}.{% else %}, {% endif %}
                        {% endfor %}
                    </p>
                    <a href="{{ path('admin_edit_matiere', {'matiere' : matiere.getId()}) }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"><i class="fas fa-edit"></i> Modifier</a>
                    <a href="{{ path('admin_delete_matiere', {'matiere': matiere.getId()}) }}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" onclick="return confirm('Veuillez confirmer la suppression.')"><i class="fas fa-trash"></i> Supprimer</a>
                </div>
            </div>
        {% endfor %}
        
    </div>
    <div class="col-lg">
        <a href="{{ path('admin_add_matiere') }}" class=" btn btn-secondary btn-sm mb-3" role="button" aria-pressed="true">
            <i class="fas fa-plus"></i> 
            Ajouter une matière
        </a>
    </div>

{% endblock %}