{% extends 'base.html.twig' %}
{% block main %}


<div class="row">
    <div class="col-lg-8 mt-3">
        {% for matiere in matieres %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ matiere.getIntitule() }}</h3>
                    <p class="card-text">{{ matiere.getDescription() }}</p>
                    <p class="text-muted">
                        Enseignant : 
                        {% for enseignant in matiere.getEnseignants() %}
                            {{ enseignant }}{% if enseignant.getEntreprise() != null %} ({{ enseignant.getEntreprise() }}){% endif %}{% if loop.last %}.{% else %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    {{ form_start(voeuForm) }}
        <div class="col-lg mt-3">
            <h3>{{ form_label(voeuForm.voeuPrincipal) }}</h3>
            {% for matiereP in voeuForm.voeuPrincipal %}
                {{ form_widget(matiereP ) }}
            {% endfor %}
        </div>
        <div class="col-lg mt-3 mb-3">
            <h3>{{ form_label(voeuForm.voeuSecondaire) }}</h3>
            {% for matiereS in voeuForm.voeuSecondaire %}
                {{ form_widget(matiereS) }}
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(voeuForm) }}
</div>
{% endblock %}