{{ form_start(form) }}
    <div class="row ml-3">
        {{ form_row(form.anneeDebut) }}
        {{ form_row(form.anneeFin) }}
    </div>
    <button class="btn btn-sm m-1 btn-secondary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}