{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau groupe{% endblock %}

{% block main %}
    {{ form_start(groupForm) }}
        <div class="form-group-row mt-3">
            <div class="col-lg-4 offset-lg-4">
                {{ form_label(groupForm.nom, 'Nom du groupe :') }}
                {{ form_widget(groupForm.nom) }}

                {{ form_label(groupForm.description, 'Description :') }}

                {{ form_widget(groupForm.description) }}

                <button type="submit" class="btn btn-primary">Créer</button>
            </div>
        </div>
    {{ form_end(groupForm) }}
{% endblock %}